<h1>Edit Comment</h1>

<form ng-submit="updateComment()">
	<div class="form-group">
		<label for="comment" >Comment: </label>
		<input type="text" class="form-control" ng-model="comment.comment" placeholder="Comment">
	</div>
	<input type="submit" class="btn btn-success" value="Submit">
</form>
<footer>
  <div class="text-center ng-scope">
  made with  &hearts; by
  <a target="_blank" rel="noopener" href="https://github.com/Hailz">Hailz</a> and
  <a target="_blank" rel="noopener" href="https://github.com/themartinsjoseph">themartinsjoseph</a>
  / view on <a target="_blank" href="https://github.com/Hailz/Project3">github</a>
</footer>


 
 