<h1>Excuse Detail</h1>


<div class="row">
	<div class="col-sm-4">
		<div class="excuse-card">

			<h4 class="card-title">{{excuse.excuse}}</h4>
			<h5>Rating: {{excuse.rating}}</h5>

			<div class="container">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1  text-center ">
						<button ng-click='like(excuse)' type="button" class="btn btn-success">&#10004 Like</button>
					</div>
					<div class="col-xs-2 text-center ">
						<button type="button" class="btn btn-warning">&#9733 Favorite</button>
					</div>
					<div class="col-xs-2 text-center ">
						<button ng-click='dislike(excuse)' type="button" class="btn btn-danger">&#10008 Dislike</button>
					</div>
				</div>
			</div>			
		</div>
    </div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<h4>How did it work for you?</h4>	
				<form ng-submit="createComment()">
					<div class="form-group">
						<label for="comment" >Comment: </label>
   						<input type="text" class="form-control" ng-model="comment.comment" placeholder="Comment">
					</div>
					<input type="submit" class="btn btn-success" value="Submit">
				</form>

			<h3>How it worked for others: </h3>
				<div ng-repeat="comment in comments">
					<p>{{ comment.comment }}</p>
					<p><b>{{ comment.commentAuthor }}</b></p>
				</div>
				<div class="text-right">
					<a class="btn btn-warning btn-xs" ng-show="isLoggedIn()" ng-href="/comments/editComments/{{c._id}}">Edit</a>
					<a class="btn btn-danger btn-xs" ng-show="isLoggedIn()" ng-click="deleteComment(comments._id)">Delete</a>
				</div>	
		
		</div>
	</div>
</div>

  









