<h1>Excuse Detail</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="excuse-card">
			<h4 class="card-title">{{excuse.excuse}}</h4>
			<h5>Rating: {{excuse.rating}}</h5>
			<div class="container">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1  text-center ">
						<button ng-click='like(excuse)' type="button" class="btn btn-success">&#10004 Like</button>
					</div>
					<div class="col-xs-2 text-center ">
						<button type="button" class="btn btn-warning">&#9733 Favorite</button>
					</div>
					<div class="col-xs-2 text-center ">
						<button ng-click='dislike(excuse)' type="button" class="btn btn-danger">&#10008 Dislike</button>
					</div>
				</div>
			</div>			
		</div>
		<div class="form-group">
      <label for="comment">Comment:</label>
      <input type="text" class="form-control" id="comment" placeholder="Tell Us What happened here!">
      <button type="button" class="btn btn-default">Submit</button>
    </div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<h3>Comments</h3>
				<ul>
					<li ng-repeat="comment in post.comments">
					"{{comment.body}}"
					<cite>- <b>{{comment.author}}</b></cite>
					</li>
				</ul>
			<form name="commentForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
				<h4>Add Comment</h4>
					<textarea ng-model="commentCtrl.comment.body" cols="30" rows="10"></textarea>
					<label for="">by:</label>
					<input type="text" ng-model="commentCtrl.comment.author" required placeholder="Name"/>

				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>








