<div class="row heroSection text-center">
	<div class="col-xs-6 col-xs-offset-3">
		<h1>Excuse Detail</h1>
	</div> 
</div>

<section>
<div class="row">
	<div class="col-xs-4">
	</div>	
	<div class="col-xs-4 text-center ">
		<div class="excuse-card">
			<h4 class="card-title">{{excuse.excuse}}</h4>
			<h5>Rating: {{excuse.rating}}</h5>	

		</div>
		<h6>Text Message Preview: {{excuse.excuseMsg}}</h6>
	</div>
</div>					

<div class="row">
	<div class="col-xs-4">
	</div>	
		<div ng-show="isLoggedIn()" class="col-xs-4 text-center ">
			<button ng-click='like()' type="button" class="btn-success excuseDetailbtn">&#10004 Like</button>
			<button ng-click='addFavorite()' ng-hide='isFavorite()' type="button" class="btn-warning excuseDetailbtn">&#9733 Favorite</button>
			<button ng-click="deleteFav(excuse._id)" ng-show="isFavorite()" class="btn btn-danger glyphicon glyphicon-thumbs-down">Unfavorite</button>
			<button ng-click='dislike()' type="button" class="btn-danger excuseDetailbtn">&#10008 Dislike</button>
		</div>
	<div class="col-xs-4">
	</div>	
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div ng-show="isLoggedIn()">
				<h4 class="commentHeader">How did it work for you?</h4>	
				<form ng-submit="createComment()">
					<div class="form-group">
						<label for="comment" >Comment: </label>
   					<input type="text" class="form-control" ng-model="newComment.comment" placeholder="Comment">
					</div>
					<input type="submit" class="btn btn-success" value="Submit">
				</form>
			</div>
			<h3>How it worked for others: </h3>
			<div class="row">
					<div ng-repeat="c in comments track by $index" class="well">
						
							<p>{{ c.comment }}</p>
							<p>{{ c.commentAuthor }}</p>
							<a class="btn btn-warning btn-xs" ng-if="c.commentAuthor == user.name" ng-href="/editcomment/{{c._id}}">Edit</a>
							<a class="btn btn-danger btn-xs" ng-if="c.commentAuthor == user.name" ng-click="deleteComment(c._id, $index)">Delete</a>
					</div>
			</div>
		</div>
	</div>
</div>

</section>
<footer>
  <div class="text-center ng-scope">
  made with  &hearts; by
  <a target="_blank" rel="noopener" href="https://github.com/Hailz">Hailz</a> and
  <a target="_blank" rel="noopener" href="https://github.com/themartinsjoseph">themartinsjoseph</a>
  / view on <a target="_blank" href="https://github.com/Hailz/Project3">github</a>
</footer>


<!-- {{c._id}} -->