<div ng-hide='isLoggedIn()'>
  <h2>Please create an account or log in to save and see favorites!</h2>
</div>
<div ng-show='isLoggedIn()'>
  <h1>Favorites:</h1>
  <div class="row">
    <div class="col-sm-4" ng-repeat="excuse in excuses | filter: search track by excuse._id">
      <div class="excuse-card">
        <a ng-href="/excuse/{{excuse._id}}">
        <h4 class="card-title">{{excuse.excuse}}</h4>
        </a>
        <button ng-click="sendMsg(excuse.excuseMsg, number)">Text Me</button>   
      </div>
    </div>
  </div>
</div>