<h2>ExcuseMe</h2>
<div ng-hide="isLoggedIn()">
  <h2>Signup or login to text yourself excuses "from another person"!</h2>
</div>
<div class="row heroSection">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group input-group text-center">
      <label>Find your perfect lie...</label>
      <input type='text' class="form-control input-group" id="search" ng-model='search' placeholder="ex. Dog or Grandma">
    </div>
  </div>
</div>
<section>
<div ng-if='search' class="row">
  <div class="col-sm-4" ng-repeat="excuse in allExcuses | filter: search track by excuse._id">
    
    <div class="excuse-card">
      <a ng-href="/excuse/{{excuse._id}}">
      <h4 class="card-title">{{excuse.excuse}}</h4>
      
      </a>
      <button ng-show="isLoggedIn()" ng-click="sendMsg(excuse.excuseMsg, number)">Text Me</button>    
    </div>
    <h6>Text Message Preview: {{excuse.excuseMsg}}</h6>

  </div>
</div>
<div ng-if='!search' class="row">
  <div class="col-sm-4" ng-repeat="excuse in excuses track by excuse._id">
    
    <div class="excuse-card">
      <a ng-href="/excuse/{{excuse._id}}">
      <h4 class="card-title">{{excuse.excuse}}</h4>
      </a>
      <button ng-show="isLoggedIn()" ng-click="sendMsg(excuse.excuseMsg, number)">Text Me</button>   
    </div>
    <h6>Text Message Preview: {{excuse.excuseMsg}}</h6>

  </div>
</div>
<button ng-click='reDraw()'>Re-Draw</button>
</section>
