<div class="row heroSection text-center">
  <div class="col-xs-6 col-xs-offset-3">
	<h2>Write Your Own Excuse!</h2>
  </div>
</div>
<form>
  <h3 class="writeYrOwn">Write what you would like to have texted to you:</h3>
  <input ng-model="userExcuse" type="text" name="excuseMsg">
  <button ng-click='writeExcuse()' type="submit" >Submit</button>
</form>
<footer>
  <div class="text-center ng-scope">
  made with  &hearts; by
  <a target="_blank" rel="noopener" href="https://github.com/Hailz">Hailz</a> and
  <a target="_blank" rel="noopener" href="https://github.com/themartinsjoseph">themartinsjoseph</a>
  / view on <a target="_blank" href="https://github.com/Hailz/Project3">github</a>
</footer>
